/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     height: 100%;
     width: 100%;
  }

  header {
      background: color 0;
      padding:5px;
      font-size:80px ;
      display: block;
      width: 100%;
  }
  nav {
      line-height:80px;
      background: color 0;
      width:125px;
      display: inline-block;
      vertical-align: top;
  }
  nav ul {
      list-style-type: none;
  }
  a {
      color:#1142FF ;
  }
  .pic1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 90%;
  }
  section {
      width: 516px;
      display: inline-block;
  }
  aside {
    width: 125px;
    display: inline-block;
    vertical-align: top;
    background-color:#8725FF;
    font: size 80px; ;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:#1142FF;
      text-align:left;
      padding:5px;
      display: block;
  }